.list-group {
  width: 50%;
  margin: 20px;
}

.tabla {
  padding: 20px;
  width: 50%;
  margin: 20px;
}
.main-acercade {
  display: flexbox;
  justify-content: center;
}

.container-acercade {
  display: flex;
  justify-content: center;
}
