.card {
  margin: 10px;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  transition: 0.5s;
  .card-body {
    background-color: gray;
    color: white;
    text-align: center;
  }
}

.card:hover {
  transform: scale(1.1);
}
