$colorcard: gray;
$margen5: 5px;
$constante: const;

.card {
  margin: $margen5 * 2;
  border-color: black;

  @if $constante==const {
    border-width: 3px;
    border-radius: $margen5;
    transition: 0.5s;
  } @else {
    border-width: 5px;
    border-radius: $margen5 * 2;
    transition: 0.1s;
  }

  .card-body {
    background-color: $colorcard;
    color: white;
    text-align: center;
  }
}
.card:hover {
  transform: scale(1.1);
}

.container-buscar {
  margin-bottom: 20px;
}
